{% extends 'base.html.twig' %}

{% block title %} {{ parent ()}} {% endblock %}

{% block body %}
    <div id="mainer" class="mainer">
        <div class="container-fluid container-max-width-xl">
            <div class="mt-4 flex">
                <h4>Manga List</h4>

                <div class="mt-4 justify-content-between line-b-f">
                    <tbody>
                    {% for genre in genres %}
{#                    <div class="item-id">#}
{#                        <td>{{ genre.id }}</td>#}
{#                        <td> {{ genre.GenreName }}</td>#}
{#                        <div class="item-button">#}
{#                        <a href="{{path('mangaByGenre',{'id':genre.id})}} " class='btn btn-success'>View</a>#}
{#                        </div>#}
{#                    </div>#}
                        <div class="section-body">
                            <ul class="genre-list">
                                <span>
                                    <a href="{{path('mangaByGenre',{'id':genre.id})}}" class="btn btn-success">{{ genre.GenreName }}</a>
                                </span>
                            </ul>
                        </div>
                    {% endfor %}
                    </tbody>
                </div>

                <div class="mt-4 justify-content-between line-b-f">
                    <tbody>
                    {% for manga in mangas %}
                        <div class="col item line-b no-flag"></div>
                        <div class="item-picture">
                            <td><img src="{{ asset('uploads/manga_image/' ~ manga.Image) }}" height="400px" width="300px"></td>
                        </div>
                        <div class="item-name">
                            <td>{{ manga.Name }}</td>
                        </div>
                        <div class="item-price">
                            <td>{{ manga.Price }}</td>
                        </div>
                        <div class="item-text">
                            <td>{{ manga.Description }}</td>
                        </div>
                        <div class="item-date">
                            <td>{{ manga.CreateDate|date('F j,Y') }}</td>
                        </div>
                        <div class="item-buttons">
                            <td>
                                <a href="{{ path('app_edit_manga', {'id':manga.id})}}" class="btn btn-success">Edit</a>
                                <a href="{{ path('app_view_manga', {'id':manga.id})}}" class="btn btn-success">View</a>
                                <a href="{{ path('app_delete_manga', {'id':manga.id})}}" class="btn btn-danger">Delete</a>
                            </td>
                        </div>
                    {% endfor %}
                    </tbody>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
