{% extends 'base.html.twig' %}

{% block title %} Welcome! | MangaNew {% endblock %}

{% block body %}
{#    <div id="app" class="wrapper wrapper-home">#}
{#        <header id="header" class="header">#}
{#            <div class="container-fluid container-max-width-xl">#}
{#                <div class="w-100 d-flex flex-column flex-md-row align-items-center">#}

{#                    <a class="fa-brands" href="/">#}
{#                        <img src="https://apprecs.org/gp/images/app-icons/300/2a/com.comikin.reader2.jpg" height="40" alt="Manga.New"/>#}
{#                    </a>#}


{#                    <nav class="mt-3 mt-md-0 ms-md-3 nav">#}
                        {#                    <a class="nav-link" href="/">Home</a>#}
                        {#                    <a class="nav-link active" href="/latest">Latest</a>#}
                        {#                    <a class="nav-link" href="/browse">Browse</a>#}
                        {#                    <a class="nav-link" href="/search">Search</a>#}

{#                        <a class="nav-link" href={{ path ('app_homepage') }}>Home</a>#}
{#                        <a class="nav-link" href={{ path ('app_latest') }}>Latest</a>#}
{#                        <a class="nav-link" href={{ path ('app_browse') }}>Browse</a>#}
{#                        <a class="nav-link" href={{ path ('app_search') }}>Search</a>#}

{#                    </nav>#}


{#                    <form class="d-none d-lg-inline ms-auto me-3 form-inline search" method="GET" action="/search">#}
{#                        <input class="form-control" type="search" name="word" autocomplete="off" placeholder="Search">#}
{#                        <a class="d-inline-flex align-content-center align-items-center icon-random" href="/random">#}
{#                            <li class="fas fa-fw fa-random"></li>#}
{#                        </a>#}
{#                        <button class="btn btn-primary" type="submit">#}
{#                            <i class="fas fa-fw fa-search"></i>#}
{#                        </button>#}
{#                    </form>#}


{#                    <div class="mt-3 mt-md-0 ms-md-auto d-flex align-items-center user">#}
{#                        <a class="ms-2" href="/my-history">#}
{#                            <i class="fas fa-fw fa-lg fa-history"></i>#}
{#                        </a>#}

{#                        <a class="ms-2" href="/my-updates">#}
{#                            <i class="fas fa-fw fa-lg fa-heart"></i>#}
{#                        </a>#}

                        {#                        <a class="ms-2 d-lg-none" href="/random">#}
                        {#                            <i class="fas fa-fw fa-lg fa-random"></i>#}
                        {#                        </a>#}

{#                        <a class="ms-2" href="/my-instructions">#}
{#                            <i class="fas fa-fw fa-lg fa-info-circle"></i>#}
{#                        </a>#}

{#                        <a class="ms-2" href="/settings">#}
{#                            <i class="fas fa-fw fa-lg fa-cog"></i>#}
{#                        </a>#}

{#                        <a class="ms-2 avatar guest" href="/profile">#}
{#                            <i class="fas fa-fw fa-2x fa-user-circle"></i>#}
{#                        </a>#}

{#                        <nav class="mt-3 mt-md-0 ms-md-3 nav">#}
{#                            <a class="nav-link" href={{ path ('app_login') }}>Login</a>#}
{#                        </nav>#}
{#                        <nav class="mt-3 mt-md-0 ms-md-3 nav">#}
{#                            <a class="nav-link active" href={{ path ('app_register') }}>Registration</a>#}
{#                        </nav>#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </header>#}
        <div id="mainer" class="mainer">
            <div class="container-fluid container-max-width-xl">
                <div class="mt-4 justify-content-between line-b-f">
                    <h4>Register</h4>
                    <div class="container">
                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        <div class="mt-4 d-flex register">
                            {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                            }) }}
                            {{ form_row(registrationForm.agreeTerms) }}
                            <button type="submit" class="btn-primary">Register</button>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#    </div>#}
{% endblock %}